.side-drawer {
    display: flex;
    height: 100%;
    background: #333;
    box-shadow: 2px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    color: #fff;
    overflow: scroll;


}

.side-drawer ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:30px;
    line-height:40px;
    margin-top:10px;
   
    width:100%;
    margin-left:5%;
    cursor:pointer;
}
 
 
.side-drawer a {
    margin-top: 10px;
    margin-inline: 50px;
    color: inherit;
    text-decoration: none;
    font-size: 1-2rem;

}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}